body{
    background-color: whitesmoke;
}
.title{
    text-align: center;
}
.m2{
    margin-left: 5%;
    margin-top: 1%;
    width: 90%;
    align-items: center;
    text-align: center;
    background-color: sandybrown;
}
.name{
    margin-top: 1%;
}
.pic1{
    height: 350px;
    width: 600px;
    margin-top: 1%;
    margin-left: 15%;
}
.text{
    width: 550px;
    height: 200px; 
    font-size: x-large;
   margin-left : 20%; 
}