body{
    background-image: url(/food/蘭陽平原.jpg);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

.title{
    text-align: center;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
}
.m2{
    margin-left: 10%;
    margin-top: 1%;
    width: 80%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    background-color: rgb(175, 220, 247,0.7);
    
}
.m3{
    margin-left: 10%;
    margin-top: 4%;
    width: 80%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 168, 163,0.7);
}
.m4{
    margin-left: 10%;
    margin-top: 4%;
    width: 80%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    background-color: rgb(226, 245, 210,0.7);
}
.pic{
    width: 100%;
    height: 290px;
}
.pic1{
    height: 80%;
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 1%;
    margin-left: 10%;
}
.text{
    width: 550px;
    height: 150px; 
    font-size: x-large;
    margin-left : 15%; 
}
@media screen and (max-width:1600px){
    .title{
     margin-top: 5%;   
     margin-left: 10%;
    }
    
    .m2{
        width: 80%;
    }
    .m3{
        width: 80%;
       
    }
    .m4{
        width: 80%;
    }
   
    .text{
        width: 350px;
        height: 100px;
        font-size: 1px;
        margin-left: 20%;
    }
    .pic{
        width: 100%;
        height: 290px;
    }
    .pic1{
        height: 80%;
        width: 80%;
        overflow: hidden;
        border-radius: 20px;
        margin-top: 1%;
        margin-left: 10%;
    } 
    @media screen and (max-width:1100px) {
        .title{
            text-align: center;
            width: 80%;
            margin-top: 8%;
            margin-left: 10%;
        }
        .m2{
            width: 80%;
        }
        .m3{
            width: 80%;
           
        }
        .m4{
            width: 80%;
        }
      
        .text{
            width: 250px;
            height: 100px;
            font-size: 1px;
            margin-left: 15%;
        }
        .pic{
            width: 100%;
            height: 10%;
        }
        .pic1{
            height: 180px;
            overflow: hidden;
            border-radius: 20px;
            margin-top: 1%;
            margin-left: 10%;
        }
    }   
    @media screen and (max-width:700px) {
        .title{
            text-align: center;
            width: 80%;
            margin-top: 8%;
            margin-left: 10%;
        }
        .m2{
            width: 80%;
        }
        .m3{
            width: 80%;
           
        }
        .m4{
            width: 80%;
        }
        
        .text{
            width: 200px;
            height: 100px;
            font-size: 1vmin;
            margin-left: 15px;
        }
        .pic{
            width: 100%;
            height: 10%;
        }
        .pic1{
            height: 110px;
            overflow: hidden;
            border-radius: 20px;
            margin-top: 1%;
            margin-left: 10%;
        }
            @media screen and (max-width:450px) {
                .title{
                    text-align: center;
                    width: 80%;
                    margin-top: 8%;
                    margin-left: 10%;
                }
                .m2{
                    width: 80%;
                }
                .m3{
                    width: 80%;
                   
                }
                .m4{
                    width: 80%;
                }
                .text{
                        width: 130px;
                        height: 100px;
                        font-size: 1vmin;
                        margin-left: 15px;
                    }
                    .pic{
                        width: 100%;
                        height: 10%;
                    }
                    .pic1{
                        height: 100px;
                        overflow: hidden;
                        border-radius: 20px;
                        margin-top: 1%;
                        margin-left: 10%;
                    }
                    @media screen and (max-width:300px) {
                        .title{
                            text-align: center;
                            width: 80%;
                            margin-top: 8%;
                            margin-left: 10%;
                            font-size: x-large;
                        }
                        .m2{
                            width: 80%;
                        }
                        .m3{
                            width: 80%;
                           
                        }
                        .m4{
                            width: 80%;
                        }
                        .text{
                                width: 90px;
                                height: 100px;
                                font-size: 1vmin;
                                margin-left: 15px;
                            }
                            .pic{
                                width: 100%;
                                height: 10%;
                            }
                            .pic1{
                                height: 80px;
                                overflow: hidden;
                                border-radius: 20px;
                                margin-top: 1%;
                                margin-left: 10%;
                            }
                           
                    }
            }
     }
    
}
.top{
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    position:fixed;
    top:0;
    height: 3vh;
    z-index: 10;
    margin-left: 0%;
}
.topbtn{
    width: 16%;
}
.toplink{
    height: 100%;
    width: 100%;
}
.topbtnpic{
    height: 100%;
}
.topbtn1{
    margin-left: 10%;
}
.linkpic1:hover{
    content: url(/共用圖片/首頁2.jpg);
}
.linkpic2:hover{
    content: url(/共用圖片/景點2.jpg);
}
.linkpic3:hover{
    content: url(/共用圖片/節慶2.jpg);
}
.linkpic4:hover{
    content: url(/共用圖片/美食2.jpg);
}
.linkpic5:hover{
    content: url(/共用圖片/影片2.jpg);
}
.upbtn{
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 15;
}
.uppic{
    width: 50px;
    height: 50px;
}
.footer-index{ 
    background-color: rgb(80, 80, 80);
    position: relative;
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 0px;

    
}
.footer-center{
    width: 100%;
    text-align: center;
}