.top{
    width: 101%;
    display: flex;
    background-color: rgb(255, 255, 255);
    position:fixed;
    top:0;
    margin: 0 auto;
    height: 3vh;
    z-index: 10;
}
.topbtn{
    width: 16%;
}
.toplink{
    height: 100%;
    width: 100%;
}
.topbtnpic{
    height: 100%;
}
.topbtn1{
    margin-left: 10%;
}
.linkpic1:hover{
    content: url(/共用圖片/首頁2.jpg);
}
.linkpic2:hover{
    content: url(/共用圖片/景點2.jpg);
}
.linkpic3:hover{
    content: url(/共用圖片/節慶2.jpg);
}
.linkpic4:hover{
    content: url(/共用圖片/美食2.jpg);
}
.linkpic5:hover{
    content: url(/共用圖片/影片2.jpg);
}
.upbtn{
    position: fixed;
    right: 5px;
    bottom: 5px;
}
.uppic{
    width: 50px;
    height: 50px;
}
.footer{
    margin-top: 100px;
    bottom: 0;
    background-color: rgb(80, 80, 80);
    color: white;
    width: 101%;
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
}
.footer-center{
    width: 100%;
    text-align: center;
}