#slider {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background: #000;
  }
  
  #slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #slider li {
    margin: 0;
    padding: 0;
  }
  
  .slideFrame {
    padding: 0;
    margin: 0;
    width: 33.33%;
    background: #000;
  }
  
  .slideCell {
    display: block;
    position: relative;
  }
  
  .slideCell .active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
      -webkit-transition:	all 0.2s ease;
      transition:	all 0.2s ease;
  }
  
  .slideCell:hover .active {
    opacity: 1;
  }
  
  @media screen and (max-width: 993px) {
    #slider {
      width: 100%;
      height: 50vh;
    }
  }
  
  .swiper-wrapper {
    position: absolute; 
    top: 0;
    left: 0;
  }
  
  .swiper-wrapper img {
    width: 100%;
    height: auto;
  }
  .s_slider1:before {
    content: "";
    display: block;
    padding-top: calc(12 / 16 * 100%);
  }
  .s_slider2:before {
    content: "";
    display: block;
    padding-top: calc(16 / 16 * 100%);
  }
  .s_slider3:before {
    content: "";
    display: block;
    padding-top: calc(12 / 16 * 100%);
  }
  
  .s_slider1 img,
  .s_slider2 img,
  .s_slider3 img {
    width: 100%;
    height: auto;
  }
  .videopic{
      width: 100%;
  }
  .active{
      width: 100%;
  }
  .body{
      margin: 0;
  }
  .middiv{
      width: 80%;
      margin-left: 10%;
  }     
  .midslider{
      width: 100%;
  }
  .topvideo{
    width: 80%;
    margin-left: 10%;
  }
  .topyt{
    width: 100%;
    height: 500px;
  }
  .bg{
    background-image: url(https://www.newsmarket.com.tw/files/2019/04/%E8%98%AD%E9%99%BD%E5%8D%9A%E7%89%A9%E9%A4%A8uFF0F%E6%94%9D%E5%BD%B1%E8%80%85%E9%BB%83%E9%95%B7%E5%AF%8C.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    width: 99%;
    padding-top: 5%;
    z-index: -9999;
    opacity: 1;
}
#slider{
  height: 500px;
}
.btndiv{
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
}
.videobtn{
  margin-left: 2.5%;
  width: 30%;
  height:5em
}
.hidediv{
  width: 80%;
  margin-left: 10%;
  background-color: rgba(240, 248, 255, 0.705);
  margin-top: 50px;
}
#view{
  display: none;
}
#culture{
  display: none;
}
#play{
  display: none;
}
#container_front{
  margin-top: 50px;
}
.table{
  width: 100%;
}
.th{
  width: 50%;
  height: 100px;
}